<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="header reg-head">
  <a href="/">
  <i class="fa-solid fa-arrow-left"></i>
  </a>
  <p>LOGIN</p>
  <%= f.submit "Log In", class: "reg-next" %>
</div>

<div class="form-container">

    <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>


    <%= f.password_field :password, placeholder: "Password",  autocomplete: "password" %>

<%= render "devise/shared/links"%>

</div>

<% end %>
